<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TypoKart · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/reset.css") %>"/>
  </head>
  <body>
    <main role="main">
      <div id="camera" class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <style>
      body {
        overflow: hidden;
        background-color: lightblue;
      }
      #camera {
        perspective: 200px;
        perspective-origin: 50% 0%;
      }
    </style>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
